@model IKDS_Manager.Models.IKDDSModel
@{
    ViewData["Title"] = "MainTable";
}

<h2>MainTable</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Numer IKD.DS.560.</th>
        <th>Prowadzący postępowanie</th>
        <th>Nr RSD</th>
        <th>Nr RPS</th>
        <th>Data Wszczęcia</th>
        <th>Zakończyć do dnia</th>
        <th>Tok postępowania</th>
        <th>Sposób zakończenia</th>
        <th>Modyfikuj</th>
        <th>Usuń</th>
    </tr>

</table>

