@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@inject SignInManager<IdentityUser> SignInManager

@if(User.Identity.IsAuthenticated)
{
 
       <ul class="nav navbar-nav navbar-right">
           <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
       </ul>
   
}else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="registerLink" asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a></li>
        <li><a id="loginLink" asp-area="" asp-controller="Account" asp-action="Login">Logowanie</a></li>
    </ul>
}
