@model IKDDS_Manager.ViewModels.IKDDSFormViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Przypomnienie</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Zbliża się termin zakończenia</th>
        <th>Usuń</th>
    </tr>
</table>
